<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--驼峰命名转换,开启后数据库列名称a_column自动映射到经典Java属性名称aColumn  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>